.info{
    font-family: Arial;
    position:absolute;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;

    position: absolute;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, -0%);


}

.dropzone{
    border: none;

}

#uploader-area{
    margin-top: 20px;
}



#cropper {
  /* Never limit the container height here */
  max-width: 100%;
}
#image {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

a-scene{
  z-index: -1;
}

.masthead-brand img{
    max-height: 100px;
}

#uploader-area{
    position:relative;
}
.droparea{
    position:fixed;
}

.grid{
        position: relative;
}
.grid-item img{
  float: left;
  max-width:200px;
  max-height:400px;
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}



.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
